body {
  text-align: center; }

.projects ul {
  list-style: none;
  padding: 20px; }

.projects .project {
  margin: 20px auto;
  padding: 20px;
  color: #eee;
  text-align: center;
  min-width: 300px;
  max-width: 500px;
  min-height: 300px;
  position: relative;
  box-shadow: 0px 0px 5px 2px #aaa; }
  .projects .project.colorgrad1 {
    background: -webkit-linear-gradient(#185a9d, #2e96a0);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#185a9d, #2e96a0);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#185a9d, #2e96a0);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#185a9d, #2e96a0); }
  .projects .project input {
    border: none;
    border-bottom: 1px solid #3498db; }
  .projects .project button {
    border: 1px solid #3498db;
    background-color: transparent;
    margin: 0 20px; }
  .projects .project .projectnew {
    display: none; }
  .projects .project .projectinfo h1 {
    font-size: 80px;
    font-weight: 200; }
  .projects .project .projectinfo h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 100; }
  .projects .project .progress {
    position: absolute;
    width: 95%;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 4%;
    border-radius: 0;
    height: 40px; }
    .projects .project .progress .progress-bar {
      padding-top: 10px;
      padding-left: 2px; }

.projects .outof {
  font-size: 14px;
  position: absolute;
  margin-top: 60px;
  margin-left: 4px; }
