.projects {

	ul {
		list-style: none;
		padding: 20px;
	}

	.project {
		border: 2px solid #3498db;
		margin:20px 0;
		padding: 20px;
		color: #3498db;
		text-align: center;
		min-width:300px;
		max-width: 500px;
		min-height:300px;

		input {
			border: none;
			border-bottom: 1px solid #3498db;
		}

		button {
			border: 1px solid #3498db;
			background-color: transparent;
			margin: 0 20px;
		}
	}
	.outof {
    font-size: 14px;
    position: absolute;
    margin-top: 18px;
    margin-left: 4px;
	}
}